 <%#商品%>
 <%= month_calendar(events: orders_a) do |date, orders| %>


    <%= date.day %>

    <% orders.each do |order| %>
        <%= link_to order.group, order_path(order.id) %>
        <% if order.date_of_payment.blank? %>
        <%= "精算済" %>
        <% else %>
        <p class= 'payment_notice'>精算日<%= order.date_of_payment %></p>
        <% end %>
        <% order.order_users.each do |order_user| %>
          <%= order_user.user.nickname %>
        <% end %>
    <% end %>

  <% end %>
