 <%#商品%>
<%= month_calendar(events: orders_a) do |date, orders| %>

    <%= date.day %>
    <% orders.each do |order| %>
      <%= link_to order.group, order_path(order.id), data: { turbo: false }, class: "order_path_btn" %>
      <p><%= order.price%></p>
      <% if order.date_of_payment.blank? %>
      <%= "清算済" %>
      <% else %>
      <p class= 'payment_notice'>清算日<%= order.date_of_payment %></p>
      <% end %>
      <p>
        <% order.order_users.reject { |order_user| order_user.user == current_user }.each do |order_user| %>
          <%= order_user.user.nickname %>
        <% end %>
      </p>
    <% end %>

<% end %>
