<div class='main'>
  <div class='top'>
    <div class='user_name'><%= "#{current_user.nickname}の購入履歴" %></div>

    <%= form_with(url: search_orders_path, local: true, method: :get, data: { turbo: false }, class: "search-form") do |form| %>
      <%= form.text_field :search, placeholder: "グループを検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
   

    <input type="checkbox" id="toggle-calendar-b">
    <label for="toggle-calendar-b">公演カレンダー</label>
  </div> 
  <div id="calendar-a">
    <%= render partial: 'calendar-a', locals: {orders_a: @orders_a} %>
  </div>

  <div id="calendar-b" style="display: none;">
    <%= render partial: 'calendar-b', locals: {orders_b: @orders_b} %>
  </div>


</div> 